extends layout
block main
    div(class='col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2', ng-controller='updateController')
        p.
            Node.js and Socket.io stock market simulation. Syncs in real time to all connected clients.

         p Stock prices will decrease once initiated. 'Buying' more stock to drive the price back up.

        .alert.alert-info Open multiple browser windows to get the full effect.
        .well.clearfix
            .col-sm-6
                h3.no-bottom-margin
                    | Status&nbsp
                    span(class='label label-primary') {{status}}
                .drop
                    button(type='button', class='btn btn-success', ng-click='start()') Sell
                    button(type='button', class='btn btn-danger' ng-click='stop()') Buy

            .col-sm-6
                ul(class='list-group')
                    li(class='list-group-item', ng-repeat='s in stocks')
                        span(class='badge') {{s.price | currency}}
                        {{s.name}}
                        button(type='button', class='btn btn-xs indent', ng-click='buy(s)') Buy
