!!!5
html(ng-app="stockStatusModule")
    head
        title Ticker
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')

    body
        div(class='container')
            div(class='row')
                header(class='col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2')
                    h1 Synchronized Stock Quotes
                        br
                        small using Node, AngularJS, and Socket.IO
                main(role='main')
                    block main
                footer(class='col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2')
                    p
                        | Implemented by Nick Fogle
                        a(href='http://www.nickfogle.com/blog') www.nickfogle.com
                    p
                        small
                            | Thanks to
                            a(href='http://www.carbonatethis.com/push-notifications-from-a-child-process-using-node-angular-and-socket-io/') Charlie Brown for getting this started.

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/main.js')
